
<table cdk-table [dataSource]="dataSource$" class="table table-hover">  
  <!-- Header and Row Declarations -->
  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <!-- <tr cdk-row *cdkRowDef="let row; columns: columns"></tr> -->
  <tr cdk-row *cdkRowDef="let row; columns: columns" [ngClass]="{
    'bg-success':(minMax$ | async)?.max === row.name,
    'bg-danger':(minMax$ | async)?.min === row.name
    }"></tr>
  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef> Name </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.name}} </td>
  </ng-container>

  <!-- count Column -->
  <ng-container cdkColumnDef="beercount">
    <th cdk-header-cell *cdkHeaderCellDef> Slosh Meter </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.beercount}}
    </td>
  </ng-container>

  <!-- Beer Column -->
  <ng-container cdkColumnDef="beer">
    <th cdk-header-cell *cdkHeaderCellDef> Beer </th>
    <td cdk-cell *cdkCellDef="let row">
      <button class="btn btn-primary" (click)="DrankBeer(row.name)"><i class="fas fa-beer"></i></button>
    </td>
  </ng-container>

   <!-- Water Column -->
   <ng-container cdkColumnDef="water">
      <th cdk-header-cell *cdkHeaderCellDef> Water </th>
      <td cdk-cell *cdkCellDef="let row">
        <button class="btn btn-primary" (click)="DrankWater(row.name)"><i class="fab fa-bitbucket"></i></button>
      </td>
    </ng-container>



     <!-- Sleep Column -->
   <ng-container cdkColumnDef="sleep">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let row">
        <button class="btn btn-primary" (click)="Slept(row.name)"><i class="fas fa-bed"></i> Slept it off.</button>
      </td>
    </ng-container>
</table>
